header {
    height: 120px;
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    background-color: #fff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
header h1 {
    float: left;
    margin-top: 32px;
}
header h1 .color {
    color: #0099CC;
}
header nav {
    float: right;
}
header nav ul li {
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}

header .logged-in-user{
    color: #0099CC;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
    display: inline-block;
}

header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

header h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}
header h2 {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
header h3 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
header h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
header h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
header a {
    text-decoration: none;
    color: #444;
}

