@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body 
{
  /*background-color: #fff;*/
  background: url("/img/login-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #e5e5e5;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
  line-height: 20px;
  margin-bottom: 20px;
}

header {
  height: 120px;
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  color: #e5e5e5;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

header h1 {
  float: left;
  margin-top: 32px;
  font-family: 'Crete Round', serif;
  font-weight: bold;
  color: #e5e5e5;
  font-size: 45px;
  margin-bottom: 20px;
}

header h1 .color {
  color: #0099CC;
}

header nav {
  float: right;
}

header nav ul li {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
}

header nav ul li a {
  color: #e5e5e5;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: #444;
}

.login-page 
{
  width: 360px;
  padding: 0;
  margin: 0 auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 100px auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0099CC;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus 
{
  background: #0099CC;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0099CC;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.error {
  color: red;
}

.account-created {
  color: #1e7e34;
  margin-bottom: 10px;
}
