@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body 
{
  background-color: #fff;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
  line-height: 20px;
  margin-bottom: 20px;
}
h1 {
  font-family: 'Crete Round', serif;
  font-weight: bold;
  color: #444;
  font-size: 45px;
  margin-bottom: 20px;
}
header {
  height: 120px;
}
header h1 {
  float: left;
  margin-top: 32px;
}
header h1 .color {
  color: #0099CC;
}
header nav {
  float: right;
}
header nav ul li {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
}
header nav ul li a {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-right: 20px;
} 
/*End of Style Format*/

.login-page 
{
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0099CC;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus 
{
  background: #0099CC;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0099CC;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

/*container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
/*body {
  background: #0099CC; /* fallback for old browsers 
  background: -webkit-linear-gradient(right, #0099CC, #0099CC);
  background: -moz-linear-gradient(right, #0099CC, #0099CC);
  background: -o-linear-gradient(right, #0099CC, #0099CC);
  background: linear-gradient(to left, #0099CC, #0099CC);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

body 
{
  background-color: #fff;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
  line-height: 20px;
  margin-bottom: 20px;
}
h1 {
  font-family: 'Crete Round', serif;
  font-weight: bold;
  color: #444;
  font-size: 45px;
  margin-bottom: 20px;
}
header {
  height: 120px;
}
header h1 {
  float: left;
  margin-top: 32px;
}
header h1 .color {
  color: #0099CC;
}
header nav {
  float: right;
}
header nav ul li {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
}
header nav ul li a {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-right: 20px;
}

*/