@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
body
{
    background-color: #fff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}
header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 32px;
}
header h1 .color {
    color: #0099CC;
}
header nav {
    float: right;
}
header nav ul li {
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

.error {
    color: red;
}




.form {
    background: #f1f1f1;
    width: 470px;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 20px;
}

.form fieldset {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.form p.contact {
    font-size: 12px;
    margin: 0px 0px 10px 0;
    line-height: 14px;
    font-family: Arial, Helvetica;
}

.form input[type="text"] {
    width: 400px;
}

.form input[type="email"] {
    width: 400px;
}

.forminput[type="password"] {
    width: 400px;
}

.form input.birthday {
    width: 60px;
}

.form input.birthyear {
    width: 120px;
}

.form label {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica;
}

.form label.month {
    width: 135px;
}

.form input, textarea {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(122, 192, 0, 0.15);
    padding: 7px;
    font-family: Keffeesatz, Arial;
    color: #4b4b4b;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 15px;
    margin-top: -10px;
}

.form input:focus, textarea:focus {
    border: 1px solid #ff5400;
    background-color: rgba(255, 255, 255, 1);
}

.form .select-style {
    -webkit-appearance: button;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url('/img/select-arrow.png'),
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center right;
    background-repeat: no-repeat;
    border: 0px solid #FFF;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form .gender {
    width: 410px;
}

.form input.buttom {
    background: #0099CC;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fbf7f7;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border: none;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
}

.form input.buttom:hover {
    background-color: #0099CC;
}