<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account - Cash U</title>
</head>
<body>

<form th:object="${accountSubmitForm}" action="/create-Account" method="POST">
    <input type="text" placeholder="First Name" th:field="*{firstName}"/>
    <input type="text" placeholder="Last Name" th:field="*{lastName}"/>
    <input type="text" placeholder="Email" th:field="*{email}"/>
    <input type="password" placeholder="Password" th:field="*{password}"/>
    <input type="text" placeholder="Phone Number" th:field="*{phoneNumber}"/>
    <input type="text" placeholder="Birth Date" th:field="*{birthDate}"/>
    <input type="text" placeholder="Budget Type" th:field="*{budgetType}"/>

    <button type="submit">Submit</button>
    <button type="reset">Clear Form</button>
</form>


</body>
</html>