<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/Cash-U Tab Icon.PNG">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/contact.css">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
</head>

<body>
<th:block th:replace="/partials/headerNav"></th:block>
<div class="container">  
    <form id="contact" action="" method="post">
            <center><img src="img/Cash-U Icon.png" alt="Cash-U" width="319"
                height="122">
      <!--<h3>Cash-U Contact Form</h3>-->
      <h4>Please feel free to contact us!</h4>
      <fieldset>
        <input placeholder="Your name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
      </fieldset>
      <!--<fieldset>
        <input placeholder="Your Web Site (optional)" type="url" tabindex="4" required>
      </fieldset>-->
      <fieldset>
        <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
      <p class="copyright">Designed by <a href="" target="_blank" title="Clayton Barnett">Clayton Barnett</a></p>
    </form>
  </div>
</body>
</html>