<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Not Created</title>
</head>
<body>
<header>
    <div class="wrapper">
        <h1>Cash-U<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/budget">Budget</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>


</body>
</html>