<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="icon" href="img/Cash-U Tab Icon.PNG">
    <link rel="shortcut icon" href="img/Cash-U Icon.png" />
    <title>Cash-U</title>
</head>

<body>
<th:block th:replace="/partials/headerNav"></th:block>

<div id="hero-image">
    <div class="wrapper">
        <h2><strong>Cash-U,<br/>
            Business & Finance.</h2></strong>
        <a href="/register" class="button-1">Get Started</a>
    </div>
</div>
<div id="features">
    <div class="wrapper">
        <ul>
            <li class="feature-1">
                <h4>Access anywhere</h4>
                <p>Cash-U can be accessed anywhere at anytime. You can budget for vacations, work, or just everyday use.</p>
            </li>
            <li class="feature-2">
                <h4>Paperless</h4>
                <p>At Cash-U, we believe going paperless is the way to go. With Cash-U and most websites being online we can save paper.</p>
            </li>
            <li class="feature-3">
                <h4>Quick & Easy</h4>
                <p>With Cash-U, you can log on to see your budget anywhere. Since we are a website we can be accessed by all major web browsers and on major mobile devices.</p>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>


<div id="primary-content">
    <div class="wrapper">
        <article>
            <h3>Why Cash-U?</h3>
            <p>Welcome to Cash-U, your number one source for all things Finance. We're dedicated to providing you the best experience, with a focus on dependability, customer service, and finance.
                We hope you enjoy our application as much as we enjoy offering it to you. </p>


            <p>Sincerely, The Cash-U Team. </p>
            <a href="#"><img src="/img/Dollars.jpg" alt="Why Cash-U?" /></a>
        </article>
    </div>
</div>
<div id="secondary-content">
    <div class="wrapper">
        <article style="background-image: url('/img/counting-money.jpg');">
            <div class="overlay">
                <h4>Save Money</h4>
                <p><small>Cash-U helps you to save and budget your money so that you can spend it on moments that matter.</small></p>
                <a href="#" class="more-link">View more</a>
            </div>
        </article>
        <article style="background-image: url('/img/contact-us.jpg');">
            <div class="overlay">
                <h4>Have a Question?</h4>
                <p><small>The Cash-U Team always open to answering any questions you may have.</small></p>
                <a href="contact.html" class="more-link">Contact Us</a>
            </div>
        </article><div class="clear"></div>
    </div>
</div>

<div id="cta">
    <div class="wrapper">
        <h3>Start saving now</h3>
        <a href="/register" class="button-2">Get Started</a>
    </div>
</div>
</body>
<footer>
    <div class="wrapper">
        <div id="footer-info">
            <p>Copyright 2020 Cash-U Inc. All rights reserved.</p>
            <p><a href="/terms">Terms & Conditions</a> I <a href="/privacy">Privacy</a></p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>Cash-U</h5></li>
                <li><a href="/home">Home</a></li>
                <li><a href="/budget">Budget</a></li>
                <li><a href="/login">Sign In</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</footer>
</html>