<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/homepage.reset.css">
    <link rel="stylesheet" type="text/css" href="/css/homepage.style.css">
    <link rel="icon" href="/images/Cash-U Tab Icon.PNG">
    <link rel="shortcut icon" href="/images/Cash-U Icon.png" />
    <title>Cash-U</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <h1>Cash-U<span class="color">.</span></h1>
            <nav>
                <ul>
                    <li><a href="/html/homepage.html">Home</a></li>
                    <li><a href="/html/budget.html">Budget</a></li>
                    <li><a href="/html/contact.html">Contact</a></li>
                    <li><a href="/html/login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div id="hero-image">
        <div class="wrapper">
            <h2><strong>Cash-U,</strong><br/>
            Business & Finance.</h2>
            <a href="/html/register.html" class="button-1">Get Started</a>
        </div>
    </div>
    
    <div id="features">
        <div class="wrapper">
            <ul>
                <li class="feature-1">
                    <h4>Access from Anywhere</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
                </li>
                <li class="feature-2">
                    <h4>Paperless</h4>
                    <p>At Cash-U, we believe going paperless is the way to go. With Cash-U and most websites being online we can save paper.</p>
                </li>
                <li class="feature-3">
                    <h4>Quick & Easy</h4>
                    <p>With Cash-U, you can log on to see your budget anywhere. Since we are a website we can be accessed by all major web browsers and on major mobile devices.</p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
    
    <div id="primary-content">
        <div class="wrapper">
            <article>
                <h3>Featured Content</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt. Nam ultricies odio ac neque suscipit volutpat. Ut dictum adipiscing felis sed malesuada. Integer porta sem nec nibh hendrerit imperdiet. </p>
                <a href="#"><img src="/images/video-placeholder.jpg" alt="video placeholder" /></a>
            </article>
        </div>
    </div>
    <div id="secondary-content">
        <div class="wrapper">
            <article style="background-image: url('/images/article-image-1.jpg');">
                <div class="overlay">
                    <h4>Secondary Content</h4>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.</small></p>
                    <a href="#" class="more-link">View more</a>
                </div>
            </article>
            <article style="background-image: url('/images/article-image-2.jpg');">
                <div class="overlay">
                    <h4>Secondary Content</h4>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.</small></p>
                    <a href="#" class="more-link">View more</a>
                </div>
            </article><div class="clear"></div>
        </div>
    </div>
    
    <div id="cta">
        <div class="wrapper">
            <h3>Heard Enough?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt. Nam ultricies odio ac neque suscipit volutpat. Ut dictum adipiscing felis sed malesuada. Integer porta sem nec nibh hendrerit imperdiet. </p>
            <a href="#" class="button-2">Get Started</a>
        </div>
    </div>
    
    <footer>
        <div class="wrapper">
            <div id="footer-info">
                <p>Copyright 2019 Cash-U Inc. All rights reserved.</p>
                <p><a href="/html/terms.html">Terms & Conditions</a> I <a href="/html/privacy.html">Privacy</a></p>
            </div>
            <div id="footer-links">
                <ul>
                    <li><h5>Company</h5></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Meet The Team</a></li>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
                <ul>
                    <li><h5>Company</h5></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Meet The Team</a></li>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
                <ul>
                    <li><h5>Company</h5></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Meet The Team</a></li>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    
</body>
</html>