<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/Cash-U Tab Icon.PNG">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/passwordResetEmail.css">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset</title>
    <script src="js/lib/jquery-3.4.1.min.js"></script>
    <script src="js/passwordResetEmail.js"></script>
</head>
<body>
<th:block th:replace="/partials/headerNav"></th:block>

<div class="pwreset-page">
    <div class="form">
    <form class="pwreset-form" th:action="@{/password-reset-email}" method="post">
        <p class="message"><b>Forgot Password?</b> You can reset it here.</p>
        <span class="js-error error" hidden>* Email does not exist in our database</span>
        <th:block th:if="${emailSent}">
            <div class="success">
                Email Sent
            </div>
        </th:block>
        <input class="js-email-input" type="text" placeholder="Email Address" name="email"/>
        <button class="submit-btn disabled" type="submit">Send Password Reset Link</button>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
    </div>
</div>
</body>
</html>