<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="icon" href="/img/Cash-U Tab Icon.PNG">
    <title>Create Account - Cash U</title>
    <script src="js/lib/jquery-3.4.1.min.js"></script>
    <script src="js/register.js"></script>
</head>

<body>
<th:block th:replace="/partials/headerNav"></th:block>
<div class="form">
    <span class="creation-error" th:if="${creationError}">&emsp; * Error creating an account, please try again later.</span>
    <form id="contactForm" th:object="${accountSubmitForm}" th:action="@{/register}" method="POST">
        <div class="js-firstName">
            <p class="contact">
                <label for="firstName">First Name</label>
                <span class="js-error error" hidden>&emsp; * Name can only contain letters</span>
            </p>
            <input id="firstName" name="firstName" placeholder="First Name" tabindex="1" type="text" th:field="*{firstName}" required>
        </div>

        <div class="js-lastName">
            <p class="contact">
                <label for="lastName">Last Name</label>
                <span class="js-error error" hidden>&emsp; * Name can only contain letters</span>
            </p>
            <input id="lastName" name="lastName" placeholder="Last Name" tabindex="1" type="text" th:field="*{lastName}" required>
        </div>

        <div class="js-email">
            <p class="contact">
                <label for="email">Email</label>
                <span class="js-error emailTakenError error" hidden>&emsp; * Email already taken</span>
                <span class="js-error inputError error" hidden>&emsp; * Email can only contain letters, numbers, @, _ and .</span>
            </p>
            <input id="email" name="email" placeholder="example@domain.com" type="email" th:field="*{email}" required>
        </div>

        <div class="js-password">
            <p class="contact">
                <label for="password">Create a password</label>
                <span class="js-error error" hidden>&emsp; * Password length has to be greater than 8</span>
            </p>
            <input type="password" id="password" name="Password" th:field="*{password}" required>
        </div>

        <div class="js-confirm-password">
            <p class="contact">
                <label for="confirmPassword">Confirm your password</label>
                <span class="js-error error" hidden>&emsp; * Password does not match</span>
            </p>
            <input type="password" id="confirmPassword" name="ConfirmPassword" required>
        </div>

        <div class="js-birth-date birthDate">
            <p class="contact">
                <label for="birthDate">Birth Date: </label>
                <span class="js-error error" hidden>&emsp; * Invalid date, must be in YYYY-MM-DD format</span>
            </p>
            <input id="birthDate" name="birthDate" placeholder="YYYY-MM-DD" type="date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" th:field="*{birthDate}" required>
        </div>

        <div class="js-phoneNumber">
            <p class="contact">
                <label for="phone">Phone Number</label>
                <span class="js-error error" hidden>&emsp;* Phone number must have 10 digits</span>
            </p>
            <input class="js-phoneNumber" id="phone" name="phone" placeholder="1234567890" type="tel" pattern="[0-9]{10}" th:field="*{phoneNumber}" required> <br>
        </div>

        <input class="btn" name="submit" id="submit" tabindex="5" value="Sign me up!" type="submit">
    </form>
</div>
</body>
</html>