<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/Cash-U Tab Icon.PNG">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/resetPassword.css">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset</title>
    <script src="js/lib/jquery-3.4.1.min.js"></script>
    <script src="js/resetPassword.js"></script>
</head>
<body>
<th:block th:replace="/partials/headerNav"></th:block>

<div class="pwreset-page">
    <div class="form">
        <form class="pwreset-form" th:action="@{/reset-password}" method="post">
            <p class="message"><b>Forgot Password?</b> You can reset it here.</p>
            <span class="js-error error" hidden>* Password has to be longer than 8 characters</span>

            <input th:value="${email}" name="email" hidden/>
            <input class="js-password-input" type="password" placeholder="Password" name="password"/>
            <button class="submit-btn" type="submit">Reset Password</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>
    </div>
</div>
</body>
</html>